<?xml version="1.0"?>
<config>
  <modules>
    <Fidera_Component>
      <version>0.1.0</version>
    </Fidera_Component>
  </modules>
  <frontend>
    <routers>
      <component>
        <use>standard</use>
          <args>
            <module>Fidera_Component</module>
            <frontName>component</frontName>
          </args>
      </component>
    </routers>
		<layout>
		  <updates>
			  <component>
			    <file>component.xml</file>
			  </component>
		  </updates>
		</layout>
  </frontend>
  <global>
    <blocks>
      <component>
        <class>Fidera_Component_Block</class>
      </component>
    </blocks>
    <helpers>
      <component>
        <class>Fidera_Component_Helper</class>
      </component>
    </helpers>
  </global>
</config>